*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rebeccapurple;
}
.container{
    width: 600px;
    background-color: #fff;
    padding: 30px 100px 50px 100px;
    margin: auto;
    margin-top: 150px;
    border-radius: 20px;
}
h2{
    padding-bottom: 20px;
    color: rgb(11, 11, 110);
}
form{
    display: flex;
}
#addList{
    flex-basis: 1;
    padding: 15px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgb(202, 200, 200);
    font-size: 18px;
}
#addBtn{
    padding: 15px;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rebeccapurple;
    margin-left: -30px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}
#addBtn:hover{
    background-color: rgb(51, 5, 97);
}
ul li{
    list-style: none;
    text-decoration: none;
    padding: 10px 12px 8px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    background-image: url('https://i.postimg.cc/FKpXYFMn/Circle-transparent-removebg-preview.png');
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;

}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url('https://i.postimg.cc/c1PDRgNt/checked.png');
}

ul li span{
    position: absolute;
    right: 0;
    top: 8px;
    color: #555;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    background-color: #edeef0;
}